@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-input {
        @apply block w-full px-3 py-2 mt-1 transition-colors duration-300 ease-in-out bg-transparent border shadow-sm border-secondary placeholder-slate-700 focus:outline-none focus:border-secondary focus:ring-1 focus:ring-secondary;
    }
    .error-input {
        @apply block w-full px-3 py-2 mt-1 transition-colors duration-300 ease-in-out bg-transparent border border-red-600 shadow-sm ring-red-600 ring-1 placeholder-slate-700 focus:outline-none;
    }
    /* BURGER BUTTON */
    .bar1,
    .bar2,
    .bar3 {
        @apply w-8 m-[5px] h-[3px] transition-transform duration-300 ease-in-out bg-white;
    }
    .change .bar1 {
        @apply translate-y-[8px] -rotate-45;
    }
    .change .bar2 {
        @apply opacity-0;
    }
    .change .bar3 {
        @apply -translate-y-[8px] rotate-45;
    }

    .active-link {
        @apply flex items-center justify-between w-full gap-3 p-2 text-white transition-colors duration-300 ease-in-out rounded bg-secondary hover:bg-secondary/80;
    }

    .inactive-link {
        @apply flex items-center justify-between w-full gap-3 p-2 text-black transition-colors duration-300 ease-in-out bg-transparent rounded hover:bg-gray-300;
    }

    .arrow {
        @apply w-6 h-6 transition-transform duration-200 ease-in-out rotate-0;
    }

    /* MODAL SECTION */
    .modal-active {
        @apply visible duration-75 bg-black/20 ease-out;
    }
    .modal-inactive {
        @apply transition-colors invisible;
    }
    .modal-content {
        @apply rounded-xl bg-white duration-200 shadow p-6  transition-all;
    }
    .fade-in-modal {
        @apply translate-y-0 opacity-100 ease-in;
    }
    .fade-out-modal {
        @apply translate-y-4 opacity-0 ease-out;
    }
    /* MODAL SECTION */
    /*

Problem here doesn't allow customization :)
    input[type="file"]::file-selector-button {
        @apply bg-secondary text-white px-3 py-2 rounded border border-gray-700 outline-none transition-colors duration-200 ease-in-out;
    }
    input[type="file"]::file-selector-button:hover {
        @apply bg-secondary/80 pointer-events-auto cursor-pointer;
    } */
}

@layer utilities {
    .login-house {
        animation: fadeInAnimation ease 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .fade-in {
        animation: fadeInAnimation ease-in 1.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .fade-in-early {
        animation: fadeInAnimation ease-out 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .fade-in-delay {
        animation: fadeInAnimation ease-in 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .fade-out-toast {
        animation: fadeOutAnimation ease-out 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
    }
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        80% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            display: none;
        }
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        80% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .grid-template-row-0 {
        grid-template-rows: 0fr;
    }

    .grid-template-row-1 {
        grid-template-rows: 1fr;
    }
    .height-transition {
        display: grid;
        transition: grid-template-rows 0.3s ease-in-out;
    }
    .height-transition > ul {
        overflow: hidden;
    }

    .grid-template-col-0 {
        grid-template-columns: 0fr;
    }

    .grid-template-col-1 {
        grid-template-columns: 1fr;
    }
    .width-transition {
        display: grid;
        transition: grid-template-columns 0.3s ease-in-out;
    }

    .width-transition > div {
        overflow: hidden;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* add this to and element if want a no scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
