@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-input {
        @apply block w-full px-3 py-2 mt-1 transition-colors duration-300 ease-in-out bg-transparent border shadow-sm border-secondary placeholder-slate-700 focus:outline-none focus:border-secondary focus:ring-1 focus:ring-secondary;
    }
    .error-input {
        @apply block w-full px-3 py-2 mt-1 transition-colors duration-300 ease-in-out bg-transparent border border-red-600 shadow-sm ring-red-600 ring-1 placeholder-slate-700 focus:outline-none;
    }
    /* BURGER BUTTON */
    .bar1,
    .bar2,
    .bar3 {
        @apply w-8 m-[5px] h-[3px] transition-transform duration-300 ease-in-out bg-white;
    }
    .change .bar1 {
        @apply translate-y-[8px] -rotate-45;
    }
    .change .bar2 {
        @apply opacity-0;
    }
    .change .bar3 {
        @apply -translate-y-[8px] rotate-45;
    }

    .active-link {
        @apply flex items-center w-full gap-3 p-2 text-white transition-colors duration-300 ease-in-out rounded bg-secondary hover:bg-secondary/80;
    }

    .inactive-link {
        @apply flex items-center w-full gap-3 p-2 text-black transition-colors duration-300 ease-in-out bg-transparent rounded hover:bg-gray-300;
    }
}

@layer utilities {
    .login-house {
        animation: fadeInAnimation ease 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #form {
        animation: fadeInAnimation ease 1.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .grid-template-row-0 {
        grid-template-rows: 0fr;
    }

    .grid-template-row-1 {
        grid-template-rows: 1fr;
    }
    .height-transition {
        display: grid;
        transition: grid-template-rows 0.3s ease-in-out;
    }
    .height-transition > div {
        overflow: hidden;
    }

    .grid-template-col-0 {
        grid-template-columns: 0fr;
    }

    .grid-template-col-1 {
        grid-template-columns: 1fr;
    }
    .width-transition {
        display: grid;
        transition: grid-template-columns 0.3s ease-in-out;
    }

    .width-transition > div {
        overflow-x: hidden;
    }
}
